name: CI
on:
  pull_request:
  push:
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    strategy:
      fail-fast: false
      matrix:
        java:
          - 8
          - 21
        class:
          - ExampleByteStringFormatter
          - ExamplePubSub
          - ExampleRediscalaBlocking
          - ExampleScripting
          - ExampleTransaction
          - Main
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        java-version: ${{matrix.java}}
        distribution: adopt
    - run: sbt scalafmtSbtCheck "+ scalafmtCheckAll" "+ Test/compile"
    - run: sbt "runMain ${{ matrix.class }}"
  finish:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    needs:
      - test
    steps:
    - run: echo finish
